<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="myheader">
    <nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-white container-p-x" id="layout-navbar">
    </nav>
</header>

<footer th:fragment="myfooter">
    <nav class="layout-footer footer bg-white">
        <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
            <div class="pt-3">
            </div>
            <div>
                © 2024-03-21 Takotsubo Website. All rights reserved.
            </div>
        </div>
    </nav>
</footer>
</body>
</html>
